{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div id="content">
            <form action="{{ url_for('views.mnist') }}" method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="image" name="image" accept="image/*"
                            aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Run</button>
                    </div>
                </div>
            </form>

            <br>
            {% if filename %}
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('views.display_image', filename=filename) }}">
                <div class="card-body">
                    <h5 class="card-title">MNIST digit classification</h5>
                    <p class="card-text"><b>The classified digit is: {{answer}}</b></p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}